<div class="animsition">
<div class="container" style="text-align: center">

    <br>
    <span class="element" style="font-size: 20px; font-family: Courier;"></span>
    <br><br>
    <br>

    <form method="post" action="/profile">
    <div class="row form-group product-chooser">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="product-chooser-item selected">
                <img src="/images/office-worker-sleeping-on-his-desk-at-job.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Beginner">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <span class="title">I Don't Know A Thing</span>
                    <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</span>
                    <input type="radio" checked="checked">
                    <br>
                    <br>
                    <button class="btn btn-outlined btn-theme btn-lg" data-wow-delay="0.7s" type="submit" name="skill_level" value="beginner" style="border-radius: 0px">That's Me</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="product-chooser-item">
                <img src="/images/man-sitting-on-office-desk-working-in-front-a-monitor-of-computer.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Intermediate">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <span class="title">I Know Some Stuff</span>
                    <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                    <input type="radio">
                    <br>
                    <br>
                    <button class="btn btn-outlined btn-theme btn-lg" data-wow-delay="0.7s" type="submit" name="skill_level" value="intermediate" style="border-radius: 0px">That's Me</button>

                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="product-chooser-item">
                <img src="/images/person-reading-at-the-office.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Advanced">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <span class="title">I Just Need To Revise</span>
                    <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                    <input type="radio">
                    <br>
                    <br>
                    <button class="btn btn-outlined btn-theme btn-lg" data-wow-delay="0.7s" type="submit" name="skill_level" value="advanced" style="border-radius: 0px">That's Me</button>

                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
    </form>
</div>
</div>
<%include animsition.ejs%>








