
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/test.css">
<title>Nothing Here</title>

<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

    <p style="font-size: 40px"><b>404 - NOTHING TO FIND HERE</b></p>
<img src="/images/robber-entering-by-a-window(1).png" style="text-align: center">
    <br>
    <a href="/">Go Back Home</a>
</div>

<% include partials/svgpartial.ejs%>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/test.js"></script>