
<html>
<head>
</head>
<body>
<center>
    <form id="myform" name="myform" method="post" action="compilecode">
        <h3>Code</h3>
        <textarea rows="13" cols="100" id="code" name="code" ></textarea>
        <br/>


              <br />
        <input type="submit" value="submit"  name="submit" />
    </form>
</center>
</body>
</html>