<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CITS</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/test.css">
    <link rel="stylesheet" href="/stylesheets/theme-button.css">
    <link rel="stylesheet" href="/stylesheets/animsition.min.css">



</head>
<body>
<% include partials/navbar-general.ejs%>

<div class="container">
    <div class="animsition">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default " >


            <div class="panel-body" style="text-align: center" >
                <img src="/images/teacher-pointing-blackboard.png" class="teacher">

                <br>
                <span class="element" style="font-size: 20px; font-family: Courier"></span>
                <br>




                <div class="get-started">
                <a href="/signup" class="btn btn-outlined btn-theme btn-lg" data-wow-delay="0.7s">Get Started</a>

            </div>


            </div>
        </div>
        </div>
    </div>
    </div>

<% include partials/svgpartial.ejs%>



<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/test.js"></script>
<script src="/javascripts/animsition.min.js"></script>
<script src="/javascripts/typed.min.js"></script>

<script>
    $(function(){
        $(".element").typed({
            strings: ["Hello There ^1000", "<b>Welcome To CITS</b> <br> An Intelligent Tutoring System for C Programming."],
            typeSpeed: 10
        });
    });
</script>

<%include partials/animsition.ejs%>
</body>
</html>