<div class="container" style="font-family: Courier;">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center;font-size: x-large; color: #6f5499 "><i class="fa fa-info"></i>
            Evaluation
        </div>
        <div class="panel-body">
        <div class="seq_0" style="text-align: center;">
            <div class="evaluation_intro" style="text-align: center"></div>
            <script>
                $(function(){
                    $(".evaluation_intro").typed({
                        strings: ["<h4> Hello there.</h4>","<h4>I am going to ask you a few questions so that I can determine what you know or do not know</h4>","<h4>Let's get started</h4>"],
                        typeSpeed: 25,
                        showCursor: false
                    });
                });




            </script>
            <button class="btn btn-outlined btn-theme btn-lg" id="seq_0" data-wow-delay="0.7s" style="border-radius: 0px;text-align: center">Continue</button>

        </div>
        <div class="seq_1" >
            <div class="qsn1" ng-app>
                <form id="myform" name="myform" method="post" action="/q1_evaluation">
                    <h4>When is the main function called?</h4>
                    <pre><code class="language-c">int main()</code></pre>
                    <h4>The main function is called: <span ng-bind = "answer" style="color: #6F5499 "></span></h4>
                    <input type="text" name="main_function" ng-model="answer" style="border-color: #6F5499" class="form-control input"><br><br>
                    <button class="btn btn-outlined btn-theme btn-md"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>
                </form>
                <script>
                    $(document).ready(function(){
                        $(".question3").hide();
                        $(".question2").hide();
                    });
                </script>
            </div>

        </div>

        <div class="seq_2">
            <h4>Write a simple program that <b><u> adds 2 integers together with their sum being equal to 10</u></b> (the program should print out the sum)</h4>

                <form id="myform" name="myform" method="post" action="/q2_evaluation">

                    <div class="question_2"></div>
                    <code>
                        <textarea rows="13" cols="55" name="code" contenteditable="true" style="line-height: 15px;" >
#include &lt;stdio.h&gt
int main()
{
/*code goes here*/


return 0;
}
                        </textarea>
                    </code>
                    <br/>
                    <br/>

                    <button class="btn btn-outlined btn-theme btn-md" type="submit"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>

                </form>
            </div>

        <div class="seq_3">
           <h3> C Program to print first 10 Natural Numbers without using Conditional Loop </h3>
            <form id="myform" name="myform" method="post" action="/q3_evaluation">

                <div class="question_2"></div>
                <code>
                        <textarea rows="13" cols="55" name="code" contenteditable="true" style="line-height: 15px;" >
#include &lt;stdio.h&gt
int main()
{


return 0;
}
                        </textarea>
                </code>
                <br/>
                <br/>

                <button class="btn btn-outlined btn-theme btn-md" type="submit"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>

            </form>


        </div>


        </div>
    </div>
        </div>
</div>
<%if (user.evaluation_progress == null){%>
<script>
$(document).ready( function() {
     $(".seq_0").show();
     $(".seq_1").hide();
     $(".seq_2").hide();
$('#seq_0').on('click',function(){
     $(".seq_1").show(1500);
     $(".seq_0").hide();
     $(".seq_2").hide();
    });
});
</script>
<%}if(user.evaluation_progress == 1){%>
<script>
    $(document).ready( function() {
        $(".seq_2").show();
        $(".seq_0").hide();
        $(".seq_1").hide();
        $('#seq_0').on('click',function(){
            $(".seq_1").show(1500);
            $(".seq_0").hide();
            $(".seq_2").hide();
        });
    });
</script>
<%}if(user.evaluation_progress == 2){%>
<script>
    $(document).ready(function(){
        $(".seq_2").hide();
        $(".seq_0").hide();
        $(".seq_1").hide();
        $(".seq_3").show();

    });
</script>

<%}%>

