<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="text-align: center; font-family: Courier; font-size: x-large; color: #6f5499"><i class="fa fa-cogs"></i> Getting Set-Up</p>
        </div>
        <div class="panel-body" style="text-align: center" >
            <span class="element" style="font-size: 14px; font-family: Courier;"></span>

            <br><br>
            <form action="/lesson_1" method="post">
                <button type="submit" class="btn btn-outlined btn-theme btn-lg" data-wow-delay="0.7s" style="border-radius: 0px;">Too Simple</button>
            </form>


        </div>
    </div>

</div>

<%include partials/lessons/intro_dialogue.ejs%>