<div class="container" style="font-family: Courier;">

    <div class="panel panel-default">

        <div class="panel-heading">
            Introductory Quiz
        </div>

        <div class="panel-body">
           <form method="post" action="/quiz_1">
               <h3>In your own words define what a main functions is?</h3>
               <input type="text" name="main_function">
               <button type="submit">Yes</button>
           </form>


        </div>

    </div>

</div>
