<div class="container" style="font-family: Courier;">

    <div class="panel panel-default">

        <div class="panel-heading" style="text-align: center; font-size: x-large; color: #6F5499"><i class="fa fa-question"></i>
            Introductory Quiz
        </div>

        <div class="panel-body" >

        <!--First Question-->

            <div class="question1" ng-app>
                <div class="qsn1">
                    <div class="questions"></div>
                    <form id="myform" name="myform" method="post" action="/q1">
                    <h4>When is the main function called?</h4>
                        <pre><code class="language-c">int main()</code></pre>
                        <h4>The main function is called: <span ng-bind = "answer" style="color: #6F5499 "></span></h4>
                        <input type="text" name="main_function" ng-model="answer" style="border-color: #6F5499" class="form-control input"><br><br>
                        <button class="btn btn-outlined btn-theme btn-md"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>
                    </form>
                    <script>
                        $(document).ready(function(){
                            $(".question3").hide();
                            $(".question2").hide();
                        });
                    </script>
                </div>
                        <% if(q_response == 1){%>
                        <div id="correct">
                        <div class="alert alert-success fade in" id="correct">
                            <div class="q1correct"></div>
                        </div>
                            <button class="btn btn-outlined btn-theme btn-md" id="moveOn"  data-wow-delay="0.7s" style="border-radius: 0px">Move On</button><br>
                        </div>
                        <script>
                            $(document).ready(function(){
                                $(".qsn1").hide();
                                $(".question2").hide();
                            });
                            $('#moveOn').on('click',function(){
                                $(".question2").show(1500);
                                $("#correct").hide();
                            });
                        </script>
                         <%}if(q_response == 2){%>
                            <div class="alert alert-danger">
                              <div class="q1wrong"></div>
                            </div>
                        <script>
                            $(document).ready(function(){
                                $(".qsn1").hide();
                                $(".question2").hide();
                            })
                        </script>
                         <%}%>



            </div>

            <!--End of First Question-->

        <!--Second Question-->
             <hr>
            <form id="myform" name="myform" method="post" action="/compilecode">

            <div class="question2">

                <div class="question_2"></div>
                    <code>
                        <textarea rows="13" cols="55" name="code" contenteditable="true">
#include &lt;stdio.h&gt;
{
printf("Hello World from C \n");
return 0;
}
                        </textarea>
                    </code>
                    <br/>
                    <br/>
                     Output : <br><%=out%><br>
                    <button class="btn btn-outlined btn-theme btn-md" type="submit"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>

            </div>
</form>
            <hr>
            <!--End of Question-->
        <!--Third Question-->
            <div class="question3">
                <div class="qsn3">
                    <form id="myform" name="myform" method="post" action="/q1">

                        <h4>What is the purpose of the printf() function</h4>
                        <pre><code class="language-c">printf()</code></pre>
                        <h4>The printf function : <span ng-bind = "answer" style="color: #6F5499 "></span></h4>
                        <input type="text" name="printf" ng-model="answer" style="border-color: #6F5499" class="form-control input"><br><br>
                        <button class="btn btn-outlined btn-theme btn-md"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>
                    </form>

                </div>
            </div>


        </div>




<script>
    $(function(){
        $(".questions").typed({
            strings: ["<h3>Welcome to your first evaluation quiz!</h3>"," "],
            typeSpeed: 20,
            showCursor: false
        });
    });
</script>
    <script>
        $(document).load(function(){
            $(".question2").hide();
        })
    </script>

<% include partials/responses.ejs%>


</div>
        </div>