<div class="container" style="font-family: Courier;">

    <div class="panel panel-default">

        <div class="panel-heading" style="text-align: center; font-size: x-large; color: #6F5499"><i class="fa fa-question"></i>
            Introductory Quiz
        </div>

        <div class="panel-body" ng-app >

        <!--First Question-->

            <div class="question1" >
                <div class="qsn1">
                    <div class="questions"></div>
                    <form id="myform" name="myform" method="post" action="/q1">
                        <% if (message.length > 0) { %>
                        <div class="alert alert-danger "><%= message %>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                        <% } %>
                    <h4>Where is the main function written?</h4>
                        <pre><code class="language-c">int main()</code></pre>
                        <h4>The main function is called: <span ng-bind = "answer" style="color: #6F5499 "></span></h4>
                        <input type="text" name="main_function" ng-model="answer" style="border-color: #6F5499" class="form-control input"><br><br>
                        <button class="btn btn-outlined btn-theme btn-md"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>
                    </form>
                    <script>
                        $(document).ready(function(){
                            $(".question3").hide();
                            $(".question2").hide();
                        });
                    </script>
                </div>
                <%if (user.progress == 1){%>
                        <% if(q_response == 1){%>
                        <div id="correct1">
                        <div class="alert alert-success fade in" id="correct1">
                            <div class="q1correct"></div>
                        </div>
                            <button class="btn btn-outlined btn-theme btn-md" id="moveOn"  data-wow-delay="0.7s" style="border-radius: 0px">Move On</button><br>
                        </div>
                        <script>
                            $(document).ready(function(){
                                $(".qsn1").hide();
                                $(".question2").hide();
                            });
                            $('#moveOn').on('click',function(){
                                $(".question3").show(1500);
                                $("#correct1").hide(1550);
                            });
                        </script>
                         <%}if(q_response == 2){%>
                            <div id="wrong1">
                            <div class="alert alert-danger">
                              <div class="q1wrong"></div>
                                <button class='btn btn-outlined btn-theme btn-md' id='gotit1'>Got It</button>
                            </div>
                            </div>
                        <script>
                            $(document).ready(function(){
                                $(".qsn1").hide();
                                $(".question2").hide();
                            });
                            $('#gotit1').on('click',function(){
                                $(".question3").show(1500);
                                $("#wrong1").hide();
                            });

                        </script>
                         <%}if (q_response == 1.5){%>
                          <div id="wrong11">
                           <div class="alert alert-danger">
                             <div class="q1wrong"></div>
                        <button class='btn btn-outlined btn-theme btn-md' id='gotit11'>Got It</button>
                         </div>
                            </div>
                <script>
                    $(document).ready(function(){
                        $(".qsn1").hide();
                        $(".question2").hide();
                    });
                    $('#gotit11').on('click',function(){
                        $(".question3").show(1500);
                        $("#wrong11").hide();
                    });

                </script>

                            <%}%>
                <%}%>


            </div>

            <!--End of First Question-->

        <!--Second Question-->
             <hr>
        <div class="question2">
            <form id="myform" name="myform" method="post" action="/q2">

                <div class="question_2"></div>
                    <code>
                        <textarea rows="13" cols="55" name="code" contenteditable="true" style="line-height: 15px;" >
#include &lt;stdio.h&gt;
{
printf("Hello World from C \n");
return 0;
}
                        </textarea>
                    </code>
                    <br/>
                    <br/>

                    <button class="btn btn-outlined btn-theme btn-md" type="submit"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>

</form>
       </div>
            <%if (user.progress==3){%>

            <%if (q_response == 2){%>
            <div class="correct2">
                <div class="alert alert-success fade in" id="correct1">
                    <div class="well_done"></div>
                </div>
                    <pre>
                    <code class="language-c">
#include &lt stdio.h &gt
<b>int main()</b>
{
printf("Hello World from C \n");
getchar();
return 0;
}
                    </code></pre>

                <code>int main()</code> is written right under #include
                <form method="post" action="/endofq1">
                    <button class="btn btn-outlined btn-theme btn-md" type="submit">Next lesson</button>
                </form>
            </div>
            <script>
            $(document).ready(function(){
            $(".question1").hide();
            $(".question3").hide();
            $(".question2").hide();
            $(".correct2").show();

            });
            </script>
            <%}%>

            <%if (q_response == 1){%>
            <div class="wrong2">
            <div class = "alert alert-danger">
                Wrong Declaration
                <div class="wrong-declacration"></div>
            </div>
            <code>int main()</code> is written right under #include
                <button class='btn btn-outlined btn-theme btn-md' id='try_again'> Try again?</button>
            </div>


    <script>
        $(document).ready(function(){
            $(".question1").hide();
            $(".question3").hide();
            $(".question2").hide();
            $(".wrong2").show();

        });
    </script>

            <%}%>
            <%if (q_response == 0){%>
            <div class="wrong21">
            <div class = "alert alert-danger">
            <div class="wrong-position"></div>
                <br>
            <button class='btn btn-outlined btn-theme btn-md' id='try_again'> Try again?</button>
            </div>
            </div>
            <script>
                $(document).ready(function(){
                    $(".question1").hide();
                    $(".question3").hide();
                    $(".question2").hide();
                    $(".wrong21").show();
                    $("#try_again").on('click',function(){
                        $(".question2").show(1500);
                        $(".wrong21").hide();
                    });

                });
            </script>
            <%}%>
            <%if (q_response == 0.5){%>
            <div class="mess_code">
                <div class = "alert alert-danger">
                    Seems like you messed up the already existing code.(Please try not to touch it.)
                    <br><br>
                    <button class='btn btn-outlined btn-theme btn-md' id='try_again'> Try again?</button>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    $(".question1").hide();
                    $(".question3").hide();
                    $(".question2").hide();
                    $(".mess_code").show();
                    $("#try_again").on('click',function(){
                        $(".question2").show(1500);
                        $(".mess_code").hide(1550);
                    });

                });
            </script>
            <%}%>
            <%}%>


            <hr>
            <!--End of Question-->
        <!--Third Question-->
            <div class="question3" >
                <div class="qsn3">
                    <form id="myform" name="myform" method="post" action="/q3">
                        <% if (message.length > 0) { %>
                        <div class="alert alert-danger "><%= message %>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                        <% } %>

                        <h4>What is the purpose of the printf() function</h4>
                        <pre><code class="language-c">printf()</code></pre>
                        <h4>The printf function : <span ng-bind = "answer3" style="color: #6F5499 "></span></h4>
                        <input type="text" name="printf" ng-model="answer3" style="border-color: #6F5499" class="form-control input"><br><br>
                        <button class="btn btn-outlined btn-theme btn-md"  data-wow-delay="0.7s" style="border-radius: 0px">Answer</button><br>
                    </form>

                </div>
            </div>

        <%if (user.progress == 2){%>
            <% if(q_response == 1){%>
            <div id="correct">
                <div class="alert alert-success fade in" id="correct">
                    <div class="q3correct"></div>
                </div>
                <button class="btn btn-outlined btn-theme btn-md" id="moveOn"  data-wow-delay="0.7s" style="border-radius: 0px">Move On</button><br>
            </div>
            <script>
                $(document).ready(function(){
                    $(".qsn1").hide();
                    $(".question2").hide();
                });
                $('#moveOn').on('click',function(){
                    $(".question2").show(1500);
                    $("#correct").hide(1550);
                });
            </script>
            <%}
            if(q_response == 2){%>
            <div class="wrong3">
            <div class="alert alert-danger">
                <div class="q3wrong"></div>
                <button class='btn btn-outlined btn-theme btn-md' id='gotit3'>Got It</button>
            </div>
            </div>
            <script>
                $(document).ready(function(){
                    $(".qsn1").hide();
                    $(".question2").hide();
                    $(".q3wrong").show();
                });

                $('#gotit3').on('click',function(){
                    $(".question2").show(1500);
                    $(".wrong3").hide(1550);
                });
            </script>

            <%}if(q_response==1.5){%>
            <div class="wrong3">
                <div class="alert alert-danger">
                    <div class="q3wrong"></div>
                    <button class='btn btn-outlined btn-theme btn-md' id='gotit3'>Got It</button>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    $(".qsn1").hide();
                    $(".question2").hide();
                    $(".q3wrong").show();
                });

                $('#gotit3').on('click',function(){
                    $(".question2").show(1500);
                    $(".wrong3").hide(1550);
                });
            </script>


            <%}%>
            <%}%>


        </div>




<script>
    $(function(){
        $(".questions").typed({
            strings: ["<h3>Welcome to your first evaluation quiz!</h3>"," "],
            typeSpeed: 20,
            showCursor: false
        });
    });
</script>
    <script>
        $(document).load(function(){
            $(".question2").hide();
        })
    </script>

<% include partials/responses.ejs%>


    </div>
</div>